<div class="top.html">
  <div class="left">
    <div class="top-content">
      <h1>ようこそ九大攻略！<br class="br-sp2">
        <a href="https://ku-portal.kyushu-u.ac.jp/campusweb/top.do" class="small-btn btn-campusmate">Campumate</a>    
        <a href="https://moodle.s.kyushu-u.ac.jp/" class="small-btn btn-moodle">Moodle</a>
        <a href="http://www.coop.kyushu-u.ac.jp/" class="small-btn btn-seikyou">九大生協HP</a>
      </h1>    
    </div>

     
    <div class="company-items">
      <div class="part showa">
        <h1>
          昭和バス
          <a href="http://showa-bus.jp/" class="small-btn btn-showa">HPを確認する</a>
        </h1>
        
        <div class="bus-items s">
          <div class="bus-item s">
            <p class="bus-theme">九大ビッグオレンジ～<br class="br-sp2">九大学研都市駅</p>
            <a class="btn-showa small-btn" href=<%= @hp_showa_toStation %>>
              詳しく見る
            </a>
            <p><%= @showa_toStation0 %> ➡ <%= @showa_toStation1 %></p>
            <p><%= @showa_toStation2 %> ➡ <%= @showa_toStation3 %></p>
          </div>

          <div class="bus-item s">
            <p class="bus-theme">九大学研都市駅～<br class="br-sp2">九大ビッグオレンジ</p>
            <a class="btn-showa small-btn" href=<%= @hp_showa_toUniversity %>>
              詳しく見る
            </a>
            <p><%= @showa_toUniversity0 %> ➡ <%= @showa_toUniversity1 %></p>
            <p><%= @showa_toUniversity2 %> ➡ <%= @showa_toUniversity3 %></p>
          </div>
        </div>
      </div>
    
      <div class="part nishitetsu">
        <h1>
          西鉄バス
          <a href="https://jik.nishitetsu.jp/" class="small-btn btn-nishitetu">HPを確認する</a>
        </h1>
        <div class="bus-item">
          <p class="bus-theme">九大ビッグオレンジ～天神ソラリアステージ前</p>
          <div class="btn-time">
            <a class="btn-nishitetu small-btn" href=<%= @hp_nishitetsu_toTenjin %>>
              詳しく見る
            </a>
            <p class="time-margin"><%= @nishitetsu_toTenjin0_1 %><br class="br-sp"><span>　</span><%= @nishitetsu_toTenjin2_3 %></p>
          </div>
        </div>
        <div class="bus-item">
          <p class="bus-theme">九大ビッグオレンジ～博多駅センタービル前Ｅ</p>
          <div class="btn-time">
            <a class="btn-nishitetu small-btn" href=<%= @hp_nishitetsu_toHakata %>>
              詳しく見る
            </a>
            <p class="time-margin"><%= @nishitetsu_toHakata0_1 %><br class="br-sp"><span>　</span><%= @nishitetsu_toHakata2_3 %></p>
          </div>
        </div>

        <div class="bus-item">
          <p class="bus-theme">博多駅センタービル前Ｅ～九大ビッグオレンジ</p>
          <div class="btn-time">
            <a class="btn-nishitetu small-btn" href=<%= @hp_nishitetsu_fromHakata_toUniversity %>>
              詳しく見る
            </a>
            <p class="time-margin"><%= @nishitetsu_fromHakata_toUniversity0_1 %><br class="br-sp"><span>　</span><%= @nishitetsu_fromHakata_toUniversity2_3 %></p>
          </div>
        </div>

        <div class="bus-item">
          <p class="bus-theme">天神ソラリアステージ前～九大ビッグオレンジ</p>
          <div class="btn-time">
            <a class="btn-nishitetu small-btn" href=<%= @hp_nishitetsu_toUniversity %>>
              詳しく見る
            </a>
            <p class="time-margin"><%= @nishitetsu_toUniversity0_1 %><br class="br-sp"><span>　</span><%= @nishitetsu_toUniversity2_3 %></p> 
          </div>
        </div>
      </div>
    </div>
    

    <div class="part library">

      <%# <ul> %>
        <h1>図書館
          <a href="https://www.lib.kyushu-u.ac.jp/ja/activities/usage_ref/re" class="small-btn btn-chuou library-btn-list m">貸出更新・予約確認</a>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries" class="small-btn btn-chuou library-btn-list l">図書館HP</a>
        </h1>
      <%# </ul> %>

      <div class="library-items">
        <div class="library-item">
          <p class="library-theme">中央図書館　</p>
          <p><%= @time_chuou %>　</p>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries/central/hours" class="small-btn btn-chuou">開館カレンダー</a>
        </div>

        <div class="library-item">
          <p class="library-theme">理系図書館　</p>
          <p><%= @time_rikei %>　</p>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries/central/hours" class="small-btn btn-chuou">開館カレンダー</a>
        </div>

        <div class="library-item">        
          <p class="library-theme">医学図書館　</p>
          <p><%= @time_igaku %>　</p>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries/medical/hours" class="small-btn btn-chuou">開館カレンダー</a>
        </div>

        <div class="library-item">
          <p class="library-theme">芸術工学図書館　</p>
          <p><%= @time_geijutsu %>　</p>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries/design/hours" class="small-btn btn-chuou">開館カレンダー</a>
        </div>
        
        <div class="library-item">
          <p class="library-theme">筑紫図書館　</p>
          <p><%= @time_chikushi %>　</p>
          <a href="https://www.lib.kyushu-u.ac.jp/ja/libraries/chikushi/hours" class="small-btn btn-chuou">開館カレンダー</a>
        </div>
      </div>
      
    </div>

    <div class="cafe-shop">
      <div class=" part cafe">
        
          <h1 >学食<br class="br-sp2">
          <a href="http://www.coop.kyushu-u.ac.jp/data/ontime202010.pdf" class="small-btn btn-cafe">詳しい営業時間</a>
          <a href="http://www.coop.kyushu-u.ac.jp/cgi-bin/teishokuurl.cgi?location=on" class="small-btn btn-cafe">今週の定食</a>
          <a href="http://www.coop.kyushu-u.ac.jp/shokudou/month_menu.html" class="small-btn btn-cafe">今日のメニュー</a>
          </h1>
        

        <p class="caution">※祝日・長期休業、また新型感染症による営業変更には対応しておりません。</p>

        <div class="cafe-items">
          <div class="cafe-lunch">
            <p class="cafe-theme">今日の昼の定食</p>
            <p class="lunch"><%= @today_menu_lunch %></p>
          </div>
          <div class="cafe-dinner">
            <p class="cafe-theme">今日の夜の定食</p>
            <p class="dinner"><%= @today_menu_dinner %></p>
          </div>
        </div>

        
        <div class="cafe-big-items">
          <div class="cafe-big-item">
            <p class="cafe-main-theme">イーストゾーン
              <a href="/cafe" class="small-btn btn-cafe">詳しく見る</a>
            </p>

            <div class="cafe-items">
              <div class="cafe-item">
                <p class="cafe-theme">ビッグスカイ　</p>
                <p><%= @open_time_bigsky %></p>
              </div>

              <div class="cafe-item">
                <p class="cafe-theme">L-Café　</p>
                <p><%= @open_time_lcafe %></p>
              </div>
            </div>
          </div>
        
        <div class="cafe-big-item">
          <p class="cafe-main-theme">センターゾーン
            <a href="/cafe" class="small-btn btn-cafe">詳しく見る</a>
          </p>

          <div class="cafe-items">
            <div class="cafe-item">
              <p class="cafe-theme">Big Orange Restaurant　</p>
              <p><%= @open_time_bigorange %></p>
            </div>
            
            <div class="cafe-item">
              <p class="cafe-theme">QASIS　</p>
              <p><%= @open_time_Qasis %></p>
            </div>

            <div class="cafe-item">
              <p class="cafe-theme">Main Dining<br class="br-sp2">（１階食堂） </p>
              <p><%= @open_time_bigdining %></p>
            </div>

            <div class="cafe-item">
              <p class="cafe-theme">Big Dining<br class="br-sp2">（地階食堂） </p>
              <p><%= @open_time_underground %></p>
            </div>
          </div>
        </div>

        <div class="cafe-big-item">
          <p class="cafe-main-theme">ウエストゾーン
            <a href="/cafe" class="small-btn btn-cafe">詳しく見る</a>
          </p>

          <div class="cafe-items">
            <div class="cafe-item">
              <p class="cafe-theme">Libca　</p>
              <p><%= @open_time_libca %></p>
            </div>

            <div class="cafe-item">
              <p class="cafe-theme">アグリダイニング　</p>
              <p><%= @open_time_agri %></p>
            </div>
            
            <div class="cafe-item">
              <p class="cafe-theme">ビッグどら食堂　</p>
              <p><%= @open_time_bigdora %></p>
            </div>
          </div>
        </div>

        <div class="cafe-big-item">
          <p class="cafe-main-theme">その他
            <a href="/cafe" class="small-btn btn-cafe">詳しく見る</a>
          </p>
          <div class="cafe-item">
            <p class="cafe-theme">医系食堂　</p>
            <p><%= @open_time_ikei %></p>
          </div>
        </div>
      </div>
      </div>

      <div class="part shop">
        <h1>売店</h1>
        <p class="caution">※祝日・長期休業、また新型感染症による営業変更には対応しておりません。</p>

        <p class="shop-main-theme-east">イーストゾーン
          <a href="http://www.coop.kyushu-u.ac.jp/koubaibu.html" class="small-btn btn-cafe"> 詳しく見る</a>
        </p>

        <div class="shop-items">
          <div class="shop-item">
            <p class="shop-theme">イースト１号館店　</p>
            <p><%= @open_time_east1 %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">中央図書館店　</p>
            <p><%= @open_time_chuoh %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">伊都協奏館店　</p>
            <p><%= @open_time_ito %></p>
          </div>
        </div>

        <p class="shop-main-theme">センターゾーン
          <a href="http://www.coop.kyushu-u.ac.jp/koubaibu.html" class="small-btn btn-cafe">詳しく見る</a>
        </p>

        <div class="shop-items">
          <div class="shop-item">
            <p class="shop-theme">伊都皎皎舎店　</p>
          </div>
          <p>　　・日常ゾーン　<%= @open_time_nichijo %></p>
          <p>　　・勉学ゾーン　<%= @open_time_bengaku %></p>
          <p>　　・注文カウンター　<%= @open_time_chumon %></p>
          <p>　　・旅行カウンター　<%= @open_time_ryokou %></p>

          <div class="shop-item">
            <p class="shop-theme">Ｑ-Ｓｈｏｐ　</p>
            <p><%= @open_time_Qshop %></p>
          </div>
        </div>

        <p class="shop-main-theme">ウエストゾーン
          <a href="http://www.coop.kyushu-u.ac.jp/koubaibu.html" class="small-btn btn-cafe"> 詳しく見る</a>
        </p>

        <div class="shop-items">
          <div class="shop-item">
            <p class="shop-theme">伊都コンビニ店　</p>
            <p><%= @open_time_konbini %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">ウエスト５号館　</p>
            <p><%= @open_time_west5 %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">ビッグどら店　</p>
            <p><%= @open_time_bigdora2 %></p>
          </div>
        </div>
        
        <p class="shop-main-theme">その他
          <a href="http://www.coop.kyushu-u.ac.jp/koubaibu.html" class="small-btn btn-cafe"> 詳しく見る</a>
        </p>
        <div class="shop-items">
          <div class="shop-item">
            <p class="shop-theme">医学部購買書籍店　</p>
            <p><%= @open_time_igakushop %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">大橋店　</p>
            <p><%= @open_time_ohashi %></p>
          </div>

          <div class="shop-item">
            <p class="shop-theme">筑紫店　</p>
            <p><%= @open_time_tikushi %></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="right">
    <h1>掲示板</h1>
    <div class="post">
      <%= form_tag("/top/create") do %>
        <p>ユーザー名（入力必須）</p>
        <input name="username" id="name" type="text" placeholder="例) 九大太郎">
        <p>つぶやく内容（入力必須）</p>
        <textarea name="content" placeholder="例) 今日も学食、何にするか迷う…"></textarea>
        <input class="small-btn btn-showa" type="submit">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="posts-index-items">
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <p><%= post.content %></p>
          <p class="post-detail">ユーザー名 <%= post.username %></p>
          <p class="post-detail"><%= l post.created_at %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>